body{
    background-color:#FFFAEB;
    text-align: center;
}
#drop{
    color: black;
}
.mid{
    text-align: center;
}
address {
    display: block;
    font-style: initial;
    color: #0F0D06;
  }
input{
    height:15vw;
    width: 30vw;
}
.show {display:block;}