body{
    background-color:#FFFAEB;
    text-align: center;
}
#drop{
    color: black;
}
.mid{
    text-align: center;
}
address {
    display: block;
    font-style: initial;
    color: #0F0D06;
  }
input{
    height:15vw;
    width: 30vw;
}
.show {display:block;}
  p{
      color: #0F0D06;
      text-decoration-style: initial;
  }
  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #11559e;
    color: #FFFAEB;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
